!!!5
html(lang="es")
  head
    meta(charset="utf-8")
    title #{title} - Megaproyecto ABJ
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.container
    block header
      header.hero-unit
        img(src="/images/header.png")
      block navbar
        .navbar
          .navbar-inner
            .container
                ul.nav
                  li 
                    a(href="") Inicio
                  li.active 
                    a(href="") Problemas
                  li 
                    a(href="") Herramienta de diseño

    block body

    block footer

  script(src="/javascripts/jquery.js")
  script(src="/javascripts/bootstrap.js")

  block javascripts
