extend layout
block body
  section#content
    article.row-fluid
      for problem in problems
          div.span3
            div.problem
              div.title #{ problem.name }
              div.detail
                img(src="/images/problems/00x.png")
                div.overlay
                  div.actions
                    a(href="/problems/find/2").preview
                      img(src="/images/preview.png")
                    a(href="/problems/#{ problem.id }.tar.gz").download
                      img(src="/images/download.png")
                  div.legend
                    p #{ problem.description }
  nav#page_nav
    a(href="/problems/find/2")

block javascripts
  script(src="/javascripts/jquery-infinitescroll.js")
  script
    $(document).on("ready", start);
    function start()
    {
      $('#page_nav').hide();
      $('#content').infinitescroll({
        navSelector  : '#page_nav',    // selector for the paged navigation 
        nextSelector : '#page_nav a',  // selector for the NEXT link (to page 2)
        itemSelector : '.row-fluid',     // selector for all items you'll retrieve
        loading: {
          finishedMsg: 'No more pages to load.',
          img: 'http://i.imgur.com/qkKy8.gif'
        }
      });
    }