extend layout
block body
  section#content
    article.row-fluid
      div.span3
        div.problem
          div.title Cañon
          div.detail
            img(src="/images/problems/001.png")
            div.overlay
              div.actions
                a(href="/problems/find/2") 
                  img(src="/images/preview.png")
                a(href="/problems/find/2") 
                  img(src="/images/download.png")
              div.legend
                p zasdfasfasdfasdf asdfasfasfasdf asdfasdfasdfasdfasfasfasd
      div.span3
        div.problem
          div.title Viaje a las montañas
          div.detail
            img(src="/images/problems/002.png")
            div.overlay
              div.actions
                a(href="/problems/find/2") 
                  img(src="/images/preview.png")
                a(href="/problems/find/2") 
                  img(src="/images/download.png")
              div.legend
      div.span3
        div.problem
          div.title Cuidar el jardín
          div.detail
            img(src="/images/problems/003.png")
            div.overlay
              div.actions
                a(href="/problems/find/2") 
                  img(src="/images/preview.png")
                a(href="/problems/find/2") 
                  img(src="/images/download.png")
              div.legend 
                p Debe regar las plantas que se encuentran en el jadín. 
      div.span3
        div.problem
          div.title Los prados
          div.detail
            img(src="/images/problems/005.png")
            div.overlay
              div.actions
                a(href="/problems/find/2") 
                  img(src="/images/preview.png")
                a(href="/problems/find/2") 
                  img(src="/images/download.png")
              div.legend  
    article.row-fluid
      div.span3
        div.problem
          div.title Castillo de arena
          div.detail
            img(src="/images/problems/006.png")
            div.overlay
              div.actions
              div.legend
                p zasdfasfasdfasdf asdfasfasfasdf asdfasdfasdfasdfasfasfasd sdg sdg sd gsdg sdg sdfg 
      div.span3
        div.problem
          div.title El tren
          div.detail
            img(src="/images/problems/007.png")
            div.overlay
              div.actions
              div.legend
      div.span3
        div.problem
          div.title Preparar refresco
          div.detail
            img(src="/images/problems/004.png")
            div.overlay
              div.actions
              div.legend 
                p zasdfasfasdfasdfa sdfasfasfasdfasd fasdfasdfasdfasfasfasd
      div.span3
        div.problem
          div.title El faro
          div.detail
            img(src="/images/problems/002.png")
            div.overlay
              div.actions
              div.legend  
  nav#page_nav
    a(href="/problems/find/2")

block javascripts
  script(src="/javascripts/jquery-infinitescroll.js")
  script
    $(document).on("ready", start);
    function start()
    {
      $('#page_nav').hide();
      $('#content').infinitescroll({
        navSelector  : '#page_nav',    // selector for the paged navigation 
        nextSelector : '#page_nav a',  // selector for the NEXT link (to page 2)
        itemSelector : '.row-fluid',     // selector for all items you'll retrieve
        loading: {
          finishedMsg: 'No more pages to load.',
          img: 'http://i.imgur.com/qkKy8.gif'
        }
      });
    }