!!!5
html(lang="es")
	head
		meta(charset="utf-8")
		title Megaproyecto
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/stylesx.css') 
		script(src="/javascripts/jquery.js")
		script(src="/javascripts/kinetic.js")
		script(src="/javascripts/jquery-ui.js")
		script(src="/socket.io/socket.io.js")
	body
		nav 
			ul
				li
					a(href="#") 
						img(src="/images/home.png")
				li
					a(href="#") 
						img(src="/images/save.png")
				li
					a(href="#") 
						img(src="/images/undo.png")
		#workspace.drop-zone
		section#groups
			article#tabs
				ul
					li 
						a(id="all", href="#") Todos
					li
						a(href="#") Contenedores
					li
						a(href="#") Ingredientes
			article#objects
				div.arrow_head.left_arrow
				div#figures
				div.arrow_head.right_arrow
				
script
	var $stage = {};
	var $layer = {};
	var socket = io.connect('http://54.225.68.40');
	var $height = 0;
	var $width = 0;
	var $pageSize = 10;
	var $pageNumber = 0;
	var $defaultHeight = 150;
	var $defaultWidth = 300;
	var $percentHeight = 0.0;
	var $percentWidth = 0.0;
	var $objects = {};

	$(document).on("ready", start);
	function start()
	{
		startWorkSpace();
		startDragAndDrog();
		startPaged();
		startSocket();
		getObjectsPaged($pageNumber, $pageSize);
	}

	function startWorkSpace()
	{
		$height = $("#workspace").height();
		$width = $("#workspace").width();

		$stage = new Kinetic.Stage({
			container: "workspace",
			width: $width,
			height: $height
		});
    
		$layer = new Kinetic.Layer();
		$stage.add($layer);

		var imageObj = new Image();
		imageObj.src = '/images/background/house.jpg';

		var backgroundImg = new Kinetic.Image({
			image: imageObj,
			x: 0,
			y: 0,
			width: $width,
			height: $height,
			draggable: false,
			dragOnTop: false
		});

		$layer.add(backgroundImg);
		
		setTimeout(function(){$layer.draw();},50);

		$percentHeight = $height / $defaultHeight;
		$percentWidth = $width / $defaultWidth;
	}

	function startDragAndDrog()
	{
		$('.drop-zone').droppable({
			accept: '.drag',
			drop: function(event, ui) {
				var img = $(ui.draggable.context);
				var json = JSON.parse(img.attr('json'));
				var key = json.name + (Math.floor((Math.random()*1000)+1));
				var data =  '{"key": "' +  key + '", ' +
							'"src": "' +  ui.draggable.context.src + '", ' +
							'"x": ' + ui.position.left + ', ' +
							'"y": ' + ui.position.top + ', ' +
							'"height": ' + (json.size.height * $percentHeight) + ', ' +
							'"width": ' + (json.size.width * $percentWidth) + '}';

				socket.emit('addobject', data);
			}
		});
	}

	function startPaged()
	{
		$(".left_arrow").hide();
		$(".left_arrow").on("click", function()
		{
			if($pageNumber > 0)
			{
				$pageNumber--;	
				getObjectsPaged($pageNumber, $pageSize);	
				$(".right_arrow").show();

				if($pageNumber === 0)
				{
					$(this).hide();
				}
			}
			

		});

		$(".right_arrow").on("click", function()
		{
			$pageNumber++;	
			getObjectsPaged($pageNumber, $pageSize);
			if($pageNumber > 0)
			{
				$(".left_arrow").show();
			}				
		});
	}

	function startSocket()
	{
		socket.on('connect', function(){
			socket.emit('jointoworkspace');
		});

		socket.on('updateworkspace', function (action, data) {
			var json = JSON.parse(data);
			if(action === 'add')
			{
				drawImage(json.key, json.src, json.x, json.y, json.height, json.width);	
			}
			if(action === 'move')
			{
				var image = $objects[json.key];
				if(image)
				{
					image.setPosition(json.x, json.y);
					$layer.draw();	
				}
			}
			
		});

		socket.on('updateworkers', function (message) {
			console.log(message);
		});
	}

	function drawImage(key, src, x, y, height, width) { 

		var imageObj = new Image();
		imageObj.src = src;
		var darthVaderImg = new Kinetic.Image({
			key: key,
			image: imageObj,
			x: x,
			y: $stage.getHeight() + y, 
			width: width,
			height: height,
			draggable: true,
			dragOnTop: false
		});

		darthVaderImg.on('mouseover', function() {
			document.body.style.cursor = 'pointer';
		});
		darthVaderImg.on('mouseout', function() {
			document.body.style.cursor = 'default';
		});
		darthVaderImg.on('dragend', function (event) {
			var data = {};
			data['key'] = darthVaderImg.attrs.key;
			data['x'] = darthVaderImg.getPosition().x;
			data['y'] = darthVaderImg.getPosition().y;
			socket.emit('moveobject', JSON.stringify(data));
		});

		$objects[key] = darthVaderImg;
		$layer.add(darthVaderImg);
		setTimeout(function(){$layer.draw();},30);
	}

	function getObjectsPaged(pageNumber, pageSize)
	{
		var url = 'objects/' + pageNumber + '/' + pageSize;
		$.getJSON(url, function(objects) {  
			var count = 0;
			var clone = $('#figures').clone();
			$('#figures').html('');
			$.each(objects, function() {  
				count++;
				var figure = $('<figure>');
				var img = $('<img>');
				img.attr('src', '/images/objects/' + this.image);
				img.attr('class', 'drag');
				img.attr('json', JSON.stringify(this));
				img.draggable({ revert: true });
				figure.append(img);
				$('#figures').append(figure); 
			});

			if(count === 0)
			{
				$('#figures').html(clone.html());
			}

			if(count < $pageSize)
			{
				$(".right_arrow").hide();
			}
		});  
	}