article.row-fluid
  div.span3
    div.problem
      div.title Regar jardín
      div.detail
        img(src="/images/background/jardin.png")
        div.overlay
          div.actions
            a(href="/problems/find/2").preview
            a(href="/problems/find/2").download
          div.legend
            p zasdfasfasdfasdf asdfasfasfasdf asdfasdfasdfasdfasfasfasd
  div.span3
    div.problem
      div.title Regar jardín
      div.detail
        img(src="/images/background/house.jpg")
        div.overlay
          div.actions
            a(href="/problems/find/2") Visualizar
            a(href="/problems/find/2") Descargar
          div.legend
  div.span3
    div.problem
      div.title Regar jardín
      div.detail
        img(src="/images/background/jardin.png")
        div.overlay
          div.actions
            a(href="/problems/find/2") Visualizar
            a(href="/problems/find/2") Descargar
          div.legend 
            p zasdfasfasdfasdfa sdfasfasfasdfasd fasdfasdfasdfasfasfasd sd gsdfg sdfg sdgsd gsd 
  div.span3
    div.problem
      div.title Regar jardín
      div.detail
        img(src="/images/background/house.jpg")
        div.overlay
          div.actions
            a(href="/problems/find/2") Visualizar
            a(href="/problems/find/2") Descargar
          div.legend  