article.row-fluid
  div.span3
    div.problem
      div.title El faro II
      div.detail
        img(src="/images/problems/002.png")
        div.overlay
          div.actions
            a(href="/problems/find/2").preview
            a(href="/problems/find/2").download
          div.legend
            p zasdfasfasdfasdf asdfasfasfasdf asdfasdfasdfasdfasfasfasd
  div.span3
    div.problem
      div.title El atardecer
      div.detail
        img(src="/images/problems/001.png")
        div.overlay
          div.actions
            a(href="/problems/find/2") Visualizar
            a(href="/problems/find/2") Descargar
          div.legend
  div.span3
    div.problem
      div.title Cocina
      div.detail
        img(src="/images/problems/004.png")
        div.overlay
          div.actions
            a(href="/problems/find/2") Visualizar
            a(href="/problems/find/2") Descargar
          div.legend 
            p zasdfasfasdfasdfa sdfasfasfasdfasd fasdfasdfasdfasfasfasd sd gsdfg sdfg sdgsd gsd 
  div.span3
    div.problem
      div.title El jardín
      div.detail
        img(src="/images/problems/003.png")
        div.overlay
          div.actions
            a(href="/problems/find/2") Visualizar
            a(href="/problems/find/2") Descargar
          div.legend  