@import 'nib'

.container 
	background #f9f9f9

.hero-unit 
	padding 0px !important

.hero-unit img
	width 100%

.thumbnaildetail
	display block
	padding 9px
	font-family Georgia
	font-style italic
	text-align center
	width auto
	height auto
	max-width 100%